.welcome-wrapper,
.delete-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;

    h1 {
        padding: 0 3vh;
        color: orange;
        font-size: 4vh;
        font-weight: bolder;
        text-align: center
    }

    a {
        @include button;
        text-decoration: none;
    }
}

.welcome-wrapper {
    background-image: linear-gradient(to bottom right, yellow 40%, black 50%);
}

.delete-wrapper {
    // background-image: linear-gradient(to bottom right, yellow 40%, black 50%);
    background-image: linear-gradient(to bottom right, green 40%, black 50%);
}